/vlcPlayer/.vs/config/applicationhost.config
/vlcPlayer/.vs/vlcPlayer/v15/.suo
/vlcPlayer/.vs/vlcPlayer/v15/Browse.VC.db
/vlcPlayer/.vs/vlcPlayer/v15/ipch/AutoPCH/4f54f6351a63cf2/FRAMELESSWIDGET.ipch
/vlcPlayer/.vs/vlcPlayer/v15/ipch/AutoPCH/a736c529a2954ea0/VLCPLAYER.ipch
/vlcPlayer/.vs/vlcPlayer/v15/ipch/AutoPCH/a88e9e133c5656d/MOC_VLCPLAYERMANAGER.ipch
/vlcPlayer/.vs/vlcPlayer/v15/ipch/AutoPCH/c651408e880da39f/VIDEOCONTROLS.ipch
/vlcPlayer/.vs/vlcPlayer/v15/ipch/AutoPCH/cd21652a1ffcc276/MOC_VLCPLAYER.ipch
/vlcPlayer/.vs/vlcPlayer/v15/ipch/AutoPCH/edf280801308a90b/VLCPLAYERMANAGER.ipch
/vlcPlayer/vlcPlayer/Debug/customslider.obj
/vlcPlayer/vlcPlayer/Debug/framelesswidget.obj
/vlcPlayer/vlcPlayer/Debug/main.obj
/vlcPlayer/vlcPlayer/Debug/moc/moc_customslider.cpp
/vlcPlayer/vlcPlayer/Debug/moc/moc_framelesswidget.cpp
/vlcPlayer/vlcPlayer/Debug/moc/moc_videoControls.cpp
/vlcPlayer/vlcPlayer/Debug/moc/moc_videoList.cpp
/vlcPlayer/vlcPlayer/Debug/moc/moc_vlcPlayer.cpp
/vlcPlayer/vlcPlayer/Debug/moc/moc_vlcPlayerManager.cpp
/vlcPlayer/vlcPlayer/Debug/moc/moc_vsliderwidget.cpp
/vlcPlayer/vlcPlayer/Debug/moc_customslider.obj
/vlcPlayer/vlcPlayer/Debug/moc_framelesswidget.obj
/vlcPlayer/vlcPlayer/Debug/moc_videoControls.obj
/vlcPlayer/vlcPlayer/Debug/moc_videoList.obj
/vlcPlayer/vlcPlayer/Debug/moc_vlcPlayer.obj
/vlcPlayer/vlcPlayer/Debug/moc_vlcPlayerManager.obj
/vlcPlayer/vlcPlayer/Debug/moc_vsliderwidget.obj
/vlcPlayer/vlcPlayer/Debug/qmake/qtvars_Win32_Debug.props
/vlcPlayer/vlcPlayer/Debug/qmake/temp/.qmake.stash
/vlcPlayer/vlcPlayer/Debug/qmake/temp/Makefile
/vlcPlayer/vlcPlayer/Debug/qmake/temp/props.txt
/vlcPlayer/vlcPlayer/Debug/qmake/temp/qtvars.log
/vlcPlayer/vlcPlayer/Debug/qmake/temp/qtvars.pro
/vlcPlayer/vlcPlayer/Debug/qmake/temp/qtvars_Win32_Debug.props
/vlcPlayer/vlcPlayer/Debug/qrc_vlcPlayer.obj
/vlcPlayer/vlcPlayer/Debug/qt_work.log
/vlcPlayer/vlcPlayer/Debug/rcc/qrc_vlcPlayer.cpp
/vlcPlayer/vlcPlayer/Debug/uic/ui_videoControls.h
/vlcPlayer/vlcPlayer/Debug/uic/ui_videoList.h
/vlcPlayer/vlcPlayer/Debug/uic/ui_vlcPlayer.h
/vlcPlayer/vlcPlayer/Debug/uic/ui_vsliderwidget.h
/vlcPlayer/vlcPlayer/Debug/vc141.pdb
/vlcPlayer/vlcPlayer/Debug/videoControls.obj
/vlcPlayer/vlcPlayer/Debug/videoList.obj
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.Build.CppClean.log
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.log
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.obj
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/CL.command.1.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/CL.read.1.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/CL.write.1.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/link.command.1.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/link.read.1.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/link.write.1.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/moc.read.1u.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/moc.write.1u.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/rcc.read.1u.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/rcc.write.1u.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/uic.read.1u.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/uic.write.1u.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/vlcPlayer.lastbuildstate
/vlcPlayer/vlcPlayer/Debug/vlcPlayer.tlog/vlcPlayer.write.1u.tlog
/vlcPlayer/vlcPlayer/Debug/vlcPlayerManager.obj
/vlcPlayer/vlcPlayer/Debug/vsliderwidget.obj
